body {
	
}

#banner {
	width:100%;
}

.principal{
	background: #D8BFD8;
	padding: 30px;
}

h1 {
	text-align: center
}

p {
	text-align: center;
}

#missao {
	font-size: 20px
}

em strong {
	color: #8A2BE2;
}

.itens {
	font-style: italic
}

.beneficios {
	background: #D8BFD8;
	padding: 60px;
}

h2 {
	text-align: center;
}
ul {
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
}

.imagembeneficios {
	width: 100%;
}